# Ignore virtual environment
venv/
venv2/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env
.env/
/.env

# # Ignore Alembic migration cache if unwanted
# alembic/__pycache__/


app/data_models/__pycache__/** 

/dockerfile


/archives/*