name: Backend deployment to tiptop's servers

on:
  push:
    branches:
      - main

jobs:
  deploy-backend:
    name: deploy backend to tiptops server
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote ssh commands using passwords
        uses: appleboy/ssh-action@v1
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          password: ${{secrets.PASSWORD}}
          port: ${{secrets.PORT}}

          script: |
            echo "Starting deployment process"
            # NOTE: Use 'sh' to avoid issues with inline script quoting
            sudo -S bash -c '
              cd /root/docker/csphere
              #run the deployment script 
              ./build-csphere-backend.sh
              echo "deployment was a success"
            ' <<< "${{secrets.PASSWORD}}"

      - name: Slack Notification
        if: always()
        run: |
          if [[ "${{ job.status }}" == "success" ]]; then
            STATUS_TEXT="Deployment Successful"
            COLOR="#098824"
          else
            STATUS_TEXT="Deployment Failed"
            COLOR="#a80a0a"
          fi

          REPO_URL="https://github.com/${{ github.repository }}"
          RUN_URL="$REPO_URL/actions/runs/${{ github.run_id }}"
          COMMIT_URL="$REPO_URL/commit/${{ github.sha }}"

          curl -X POST -H 'Content-type: application/json; charset=utf-8' \
          -H "Authorization: Bearer ${{ secrets.SLACK_TOKEN }}" \
          --data "{
            \"channel\": \"${{ secrets.SLACK_CHANNEL }}\",
            \"attachments\": [
              {
                \"color\": \"$COLOR\",
                \"title\": \"Csphere CI/CD Update - Backend\",
                \"title_link\": \"$RUN_URL\",
                \"text\": \"$STATUS_TEXT\n\n*Repository:* ${{ github.repository }}\n*Branch:* \`${{ github.ref_name }}\` \n*Commit:* <$COMMIT_URL|${{ github.event.head_commit.message }}>\n*Author:* ${{ github.actor }}\",
                \"footer\": \"GitHub Actions • Build #${{ github.run_number }}\",
                \"ts\": $(date +%s)
              }
            ]
          }" \
          https://slack.com/api/chat.postMessage

  deploy-worker:
    name: deploy worker to the backend servers
    runs-on: ununtu-latest

    steps:
      - name: Execute remote ssh commands
        uses: appleboy/ssh-action@v1

        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          password: ${{secrets.PASSWORD}}
          port: ${{secrets.PORT}}

          script: |
            echo "Starting deployment process"
            # NOTE: Use 'sh' to avoid issues with inline script quoting
            sudo -S bash -c '
              cd /root/docker/csphere
              #run the deployment script 
              ./build-csphere-worker.sh
              echo "deployment was a success"
            ' <<< "${{secrets.PASSWORD}}"

      - name: Slack Notification
        if: always()
        run: |
          if [[ "${{ job.status }}" == "success" ]]; then
            STATUS_TEXT="Deployment Successful"
            COLOR="#098824"
          else
            STATUS_TEXT="Deployment Failed"
            COLOR="#a80a0a"
          fi

          REPO_URL="https://github.com/${{ github.repository }}"
          RUN_URL="$REPO_URL/actions/runs/${{ github.run_id }}"
          COMMIT_URL="$REPO_URL/commit/${{ github.sha }}"

          curl -X POST -H 'Content-type: application/json; charset=utf-8' \
          -H "Authorization: Bearer ${{ secrets.SLACK_TOKEN }}" \
          --data "{
            \"channel\": \"${{ secrets.SLACK_CHANNEL }}\",
            \"attachments\": [
              {
                \"color\": \"$COLOR\",
                \"title\": \"Csphere CI/CD Update - worker\",
                \"title_link\": \"$RUN_URL\",
                \"text\": \"$STATUS_TEXT\n\n*Repository:* ${{ github.repository }}\n*Branch:* \`${{ github.ref_name }}\` \n*Commit:* <$COMMIT_URL|${{ github.event.head_commit.message }}>\n*Author:* ${{ github.actor }}\",
                \"footer\": \"GitHub Actions • Build #${{ github.run_number }}\",
                \"ts\": $(date +%s)
              }
            ]
          }" \
          https://slack.com/api/chat.postMessage
