name: Backend deployment to tiptop's servers

on:
  push:
    branches:
      - main

jobs:
  confirm-changes:
    name: confirm there are changes in the backend
    runs-on: ubuntu-latest
    outputs:
      folder_changed: ${{ steps.check_files.outputs.folder_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Find name of changes files with git
        id: check_files
        run: |
          set +e
          CHANGED_FILES=$(git diff --name-only ${{github.event.before}} ${{github.sha}} || true)
          echo "changed files found: $CHANGED_FILES"

          CHANGED_COUNT=$(echo "$CHANGED_FILES" | grep -c "backend")

          set -e
          echo "file count that was changed: $CHANGED_COUNT"

          if [ "$CHANGED_COUNT" -gt 0 ]; then
            echo "folder_changed=true" >> $GITHUB_OUTPUT
          else
            echo "folder_changed=false" >> $GITHUB_OUTPUT
          fi

  deploy-backend:
    name: deploy backend to tiptops server
    runs-on: ubuntu-latest
    # needs: confirm-changes

    steps:
      - name: Execute remote ssh commands using passwords
        # if: needs.confirm-changes.outputs.folder_changed == 'true'
        uses: appleboy/ssh-action@v1
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          password: ${{secrets.PASSWORD}}
          port: ${{secrets.PORT}}

          script: |
            echo "Starting deployment process"
            # NOTE: Use 'sh' to avoid issues with inline script quoting
            sudo -S bash -c '
              cd /root/docker/csphere
              #run the deployment script 
              ./build-csphere-backend.sh
              echo "deployment was a success"
            ' <<< "${{secrets.PASSWORD}}"
  deploy-worker:
    name: deploy worker to the backend servers
    runs-on: ununtu-latest

    steps:
      - name: Execute remote ssh commands
        uses: appleboy/ssh-action@v1

        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          password: ${{secrets.PASSWORD}}
          port: ${{secrets.PORT}}

          script: |
            echo "Starting deployment process"
            # NOTE: Use 'sh' to avoid issues with inline script quoting
            sudo -S bash -c '
              cd /root/docker/csphere
              #run the deployment script 
              ./build-csphere-worker.sh
              echo "deployment was a success"
            ' <<< "${{secrets.PASSWORD}}"
